.card-container{
    display: flex;
    flex-direction: column;
    background-color: #82c0cc;
    border: 1px solid #16697a;
    border-radius: 5px;
    padding: 2rem;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-in;
}

.card-container:hover{
    transform: scale(1.05)
}